rect.btn {
    stroke:#fff;
    fill:#fff;
    fill-opacity:0;
    stroke-opacity:0;
  }

  a:link { text-decoration: none; }

  a:visited { text-decoration: none; }
  
  a:hover { text-decoration: none; }
  
  a:active { text-decoration: none; }
  
  .colors {
      fill: lightgray
  }

  .invert {
      fill: #5fa7fd;
      }

   .bg-color {
       background : #181818
    }

    .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
      }
      

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 0.3s;
      }
      
      .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
      }
      .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
      }